.box {
	width: 100px;
	height: 100px;
	background-color: aquamarine;
	animation-name: mega;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes mega {
	0% {
		background-color: aqua;
		border-radius: 0px;
		transform: rotate(0);
	}
	50% {
		background-color: rgb(43, 162, 226);
		border-radius: 25px;
		transform: rotate(180deg);
	}
	100% {
		background-color: rgb(76, 100, 241);
		border-radius: 50px;
		transform: rotate(360deg);
	}
}

.title {
	animation-name: fadeIn;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(0);
	}
	to {
		opacity: 1;
		transform: translateY(-10px);
	}
}
