.gallery {
	width: 250px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.gallery > div {
	display: flex;
	align-items: center;
	gap: 20px;
}

.down {
	flex-direction: row-reverse;
}

.imagebox {
	width: 100px;
	height: 100px;
}
.imagebox > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.text {
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 768px) {
	.gallery > div {
		flex-direction: column;
	}
}
